<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Travel Companion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <!-- Camera Button -->
        <ion-button (click)="capturePhoto()">Take Picture</ion-button>
        @if (capturedImage) {
          <img [src]="capturedImage" alt="Captured Image" />
        }
      
        <!-- Location Button -->
        <ion-button (click)="getLocation()">Get Current Location</ion-button>
        @if (currentLocation) {
          <p>
            Latitude: {{ currentLocation.latitude }} <br />
            Longitude: {{ currentLocation.longitude }}
          </p>
        }
      
        <!-- Device Info Button -->
        <ion-button (click)="fetchDeviceInfo()">Get Device Info</ion-button>
        @if (deviceInfo) {
          <p>
            Model: {{ deviceInfo.model }} <br />
            Operating System: {{ deviceInfo.operatingSystem }} <br />
            Platform: {{ deviceInfo.platform }}
          </p>
        }
</ion-content>